---
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: reproducible-containers/buildkit-cache-dance
        # Ignore versions of Lodash that are equal to or greater than 1.0.0
        versions: [ ">=2.0.0" ]